.btns {
    -fx-background-color: darkseagreen;
    -fx-background-radius: None;
}

.root {

}

.speedBox {
    -fx-background-color: #FF5E9C;
    -fx-background-radius: 50%;
    -fx-border-width: 2px;
    -fx-border-color: #4d4d4d;
    -fx-border-radius: 50%;
}